* {
    box-sizing: border-box;
}

body{
    /* Testing addition of new font 
    font-family: '-apple-system', 
        BlinkMacSystemFont, sans-serif; */
    
    font-family: ‘SF Pro Display’,
        sans-serif;
        
    margin:40px auto;
    line-height:1;
    font-size:25px;
    color:rgb(60, 60, 60);
    background-color:#FAF9F6;
    padding:0
    10px
    }

h1,h2,h3{
    line-height:1.5
    }

footer{
    font-size:12px;
    padding: 5px;
    text-align: center;
    bottom: 0;
    position: relative;
    width: 100%;
    }   

input::file-selector-button, input[type=submit], input[type=file]{
    background-color: #FAF9F6;
    color: rgb(60, 60, 60);
    box-shadow: 0 8px 20px -10px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    cursor: pointer;
    }

input[type=file]{
    border:none;
    }

input[type=submit]:hover{
    background-color: #689897b3;
    }

input::file-selector-button:hover{
    background-color: #689897b3;
    }

.container {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 px 8px 24px;
    }
