* {
    box-sizing: border-box;
}
.body {
    /* Old font 
    font-family: '-apple-system', 
        BlinkMacSystemFont, sans-serif; */

    /* New font family */
    font-family: ‘SF Pro Display’,
        sans-serif;
    margin:40px auto;
    max-width:650px;
    line-height:1;
    font-size:25px;
    color:rgb(60, 60, 60);
    background-color:#FAF9F6;
    padding:0
    10px
    }
    h1,h2,h3{ line-height:1.5 }
    footer{
        font-size:12px;
        padding: 2px;
        text-align: center;
        bottom: 0;
        position: fixed;
        width: 100%;
    }
.container {
    max-width: 650px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 px 8px 24px;
}